{% extends "gaugeviewwml/base.html" %}
{% load staticfiles %}
{% load tethys_gizmos %}

{% block app_navigation_items %}
  <li><a href="{% url 'gaugeviewwml:home' %}">Return to Map</a></li>
    <center>
        <p><b>Flow Data</b></p>
        {% if 'true' in gotdata_flow|lower %}
        <a id="AHPS_waterml_Flow-link" target="_blank" href="/apps/gaugeviewwml/waterml/?type=ahps&var=flow&gaugeid={{gaugeno}}&lat={{lat}}&long={{long}}"
           class="btn btn-default">Get WaterML</a>
<br><br>
        <a id="AHPS_CUASHI_tsv_Flow-link" target="_blank" href="https://appsdev.hydroshare.org/apps/timeseries-viewer/?src=xmlrest&res_id=
http%3A%2F%2Ftethys.byu.edu%2Fapps%2Fgaugeviewwml%2Fwaterml%2F%3Ftype%3Dahps%26var%3Dflow%26gaugeid%3D{{gaugeno}}%26lat%3D{{lat}}%26long%3D{{long}}"
           class="btn btn-default btn-sm">Launch with CUASHI Time Series Viewer</a>
         {% else %}
   There is no flow data available for this location!
         {% endif%}
<br><br><br>
        <p><b>Stage Data</b></p>
        {% if 'true' in gotdata_stage|lower %}
        <a id="AHPS_waterml_Stage-link" target="_blank" href="/apps/gaugeviewwml/waterml/?type=ahps&var=stage&gaugeid={{gaugeno}}&lat={{lat}}&long={{long}}"
           class="btn btn-default">Get WaterML</a>
<br><br>
        <a id="AHPS_CUASHI_tsv_Stage-link" target="_blank" href="https://appsdev.hydroshare.org/apps/timeseries-viewer/?src=xmlrest&res_id=
http%3A%2F%2Ftethys.byu.edu%2Fapps%2Fgaugeviewwml%2Fwaterml%2F%3Ftype%3Dahps%26var%3Dstage%26gaugeid%3D{{gaugeno}}%26lat%3D{{lat}}%26long%3D{{long}}"
           class="btn btn-default btn-sm">Launch with CUASHI Time Series Viewer</a>
        {% else %}
   There is no stage data available for this location!
         {% endif%}
        <br><br><br>
        <button id="instructions" type="button" class="btn btn-default" data-toggle="modal" data-target="#ahps-popup" >
        Instructions</button>
    </center>
{% endblock %}

{% block app_content_wrapper_override %}
<!-- Modal  -->
<div class="modal fade" id="ahps-popup" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Gauge Viewer + WaterML Help Guide</h4>
      </div>
      <div class="modal-body">
        <div id="ahps-info">
          <div class="line">
            <p id="desc">This page shows observed and forecasted flows and stage (depth) of the previously selected
                AHPS location.</p>
          </div>
          <ol>
          <li class="modalList">All available data (observed and forecast) is displayed</li>
          <!--<span class="sub">All currently available observed and forecasted data is displayed</span>-->
          <li class="modalList">Get WaterML</li>
          <span class="sub">This will download a WaterML file to your computer of either Flow or Stage data.</span>
          <li class="modalList">Launch with CUASHI Time Series Viewer</li>
          <span class="sub">This will launch the CUASHI Time Series Viewer with either Flow or Stage data. The Time
              Series Viewer includes several analysis tools, and shows associated metadata.</span>
          <div class="modalNote">
            <span>
              You must currently be logged into Hydroshare, and have authorized appsdev.hydroshare.org/apps in order
                to use this feature. (Login will not be required in a future update to the Time Series Viewer app)
            </span>
          </div>
          </ol>
        </div>
      </div>
      <div class="modal-footer">
        <div id="byu-logo-container">
          <span><i>Developed at the BYU Hydroinformatics Lab</i></span>
          <img src="{% static 'gaugeviewwml/images/byu-logo.png' %}"/>
        </div>
        <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal -->
{{block.super}}
{% endblock %}

{% block app_content %}
  <h4>AHPS Data</h4>
  <p>Gauge ID: {{gaugeno}}</p>
  <p>Waterbody: {{waterbody}}</p>
  <p>Link to website: <a href="http://water.weather.gov/ahps2/hydrograph.php?wfo=pub&&gage={{gaugeno}}"
                         target="_blank">View Website</a></p>

{% if 'true' in gotdata_flow|lower %}
   <div>
   {% gizmo plot_view timeseries_plot %}
   </div>
 {% else %}
   <h6>There is no flow data available for this location!</h6>
 {% endif%}

<br>

{% if 'true' in gotdata_stage|lower %}
   <div>
   {% gizmo plot_view timeseries_plot_stage %}
   </div>
 {% else %}
   <h6>There is no stage data available for this location!</h6>
 {% endif%}
{% endblock %}


{% block app_actions %}

{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script src="{% static 'gaugeviewwml/vendor/export-csv.js' %}" type="text/javascript"></script>
{% endblock %}